{
  "singleQuote": false,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "printWidth": 80,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-packagejson",
    "prettier-plugin-sql"
  ],
  "importOrder": ["^bun$", "<THIRD_PARTY_MODULES>", "^@toku/(.*)$", "^[./]"],
  "language": "postgresql",
  "keywordCase": "upper"
}
